/* Custom styles for TimePicker */
.react-time-picker {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.react-time-picker__wrapper {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  width: 100%;
}

.react-time-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 6 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
}

.react-time-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-time-picker__inputGroup__input::-webkit-outer-spin-button,
.react-time-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-time-picker__button {
  border: 0;
  background: transparent;
  padding: 4px;
}

.react-time-picker__button svg {
  display: inherit;
}